<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About eHop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body>

    <ul>
        <li><a href='/'>Home |</a></li>
        <li><a href='/about'>About |</a></li>
        <li><a href="/ourteam">Our Team</a></li>
        
      </ul>
      

    <div class = "container"> 
        <h1 class = "aboutHeader">
                About eHop: 
        </h1>

        <p class = "aboutPara">
            eHop was created in order to help individuals improve their health, both physical and mental. We strongly believe that anyone can improve their lives by making healthy choices and building self discipline. That’s why we developed eHop, to assist and empower people in leading better and healthier lives. 
        </p>

        <a rel='nofollow' href='https://www.qr-code-generator.com/v2/?t=qr-codes-on-jumplinks&utm_expid=.9xxaZAuZTFGanEGsWJSM0Q.5&utm_referrer=
            ' border='0' style='cursor:default'><img src='https://chart.googleapis.com/chart?cht=qr&chl=https%3A%2F%2Fehop-hackuci.herokuapp.com%2F&chs=180x180&choe=UTF-8&chld=L|2' alt=''></a>

    </div>
</body>
</html>