<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Our Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ourteam.css') }}">
</head>
<body>
    <ul>
        <li><a href='/'>Home |</a></li>
        <li><a href='/about'>About |</a></li>
        <li><a href="/ourteam">Our Team</a></li>
        
    </ul>

    <ul>
        <li>Joseph is a true lad that likes to chill. </li>
        <li>William learnt a lot.</li>
        <li>Zach is a hooligan that likes to smoke.</li>
        <li>Jonathan is swag as hell</li>
    </ul>
    
    
</body>
</html>